@model List<News>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
               Đơn Đăng ký tư vấn
            </h2>
        </div>
       
    </div>
</div>

<table class=" table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Tên khách hàng
            </th>

            <th>
                Email
            </th>
            <th>
               Số điện thoại 
            </th>
            <th>
               Yêu cầu
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Email</td>
                <td>@obj.Nummber</td>
                <td>
                    @Html.Raw( @obj.Description)

                </td>
                    
                <td>
                    <div class="w-75 btn-group" role="group">
                       
                        <a asp-controller="News" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>  Chi tiết
                        </a>
                        <a asp-controller="News" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>Xóa

                        </a>
                        
                    </div>
                </td>

            </tr>
        }
    </tbody>

</table>
